---

layout: default

title: People

weight: 3

people:

  - name: Saeed Shiry Ghidary

    image: images/shiry.jpg

    sub: Supervisor

    edu: |

        BSc. : Electronic engineering, Amir Kabir  University, Tehran, Iran, 1985-1990

        <br>MSc.: Computer architecture, Amir Kabir University, Tehran, Iran, 1991-1994

        <br>Ph.D: Robotics, Kobe University, Kobe, Japan, 1999-2002

        <br><a href="mailto:shiry@aut.ac.ir">Email</a> 

        <br><a href="http://ceit.aut.ac.ir/~shiry">Homepage</a>

  - name: Mahdi TaherAhmadi

    image: images/taher.jpg

    sub: Director

    edu: |

        <a href="mailto:14taher@gmail.com">Email</a> 

        <br><a href="http://ceit.aut.ac.ir/~shiry">Homepage</a>

        <br><a href="http://github.com/taherahmadi">Github</a>

        <br><a href="https://ir.linkedin.com/in/taher-ahmadi-b3798998">LinkedIn</a>

        <br><a href="http://ceit.aut.ac.ir/~taher">Homepage</a>


alumni:

  - name: Bita Azari

    image: images/bita.jpg

    sub: Research assistant

    edu: |

      B.Sc ,Computer Engineering at Amirkabir University of Technology

      <br><a href="mailto:bita.az@aut.ac.ir">Email</a>  

      <br><a href="http://ceit.aut.ac.ir/~azari">Homepage</a>


  - name: Sachiko Miyata, Ph.D

    image: images/sach.png

    sub: Post-doctoral associate

    edu: |

        Ph.D Molecular Biology, University of Nagoya, Japan<br>

        M.S. Biochemistry, University of Massachusetts

  - name: Pippa Goddard

    image: images/pippa.jpg

    sub: Graduate student

    edu: MRes/Ph.D candidate

  - name: Sharon Versteeg

    image: images/sharon.jpg

    sub: Graduate student

    edu: MRes candidate

  - name: Ed Couchman

    image: images/ed.png

    sub: Graduate student

  - name: Tristan Varela

    image: images/tristan.png

    sub: Undergraduate

  - name: Louis Wai

    image: images/louis.png

    sub: Undergraduate

  - name: Amalina Mumin

    image: images/ame.png

    sub: Graduate student

  - name: Sam Sheppard

    image: images/sam.png

    sub: Graduate student



---

<div class="row">

<div class="twelve columns">

    <h3>Current lab members</h3>

    <hr>

</div>

</div>



{% for item in page.people %}



<div class="row">

    <div class="four columns">

		<img src="{{ item.image }}" class="scale-with-grid">

	</div>

    <div class="eight columns">

		<h4>{{ item.name }}</h4>

		<p class="subheader">{{ item.sub }}</p>

		{{ item.edu }}

	</div>

</div>





{% endfor %}



<div class="row">

  <div class="twelve columns">

    <h3>Alumni</h3>

    <hr>

</div>

</div>



{% for item in page.alumni %}

<div class="row">

    <div class="four columns alpha">

		<img src="{{ item.image }}" class="scale-with-grid">

	</div>

    <div class="eight columns omega">

		<h4>{{ item.name }}</h4>

		<p class="subheader">{{ item.sub }}</p>

		<p>{{ item.edu }}</p>

	</div>

</div>

{% endfor %}
Contact GitHub API Training Shop Blog About 

© 2017 GitHub, Inc. Terms Privacy Security 
